@font-face {
  font-family: "VAZIR";
  src: url("../../public/font/vazir-font-v16.1.0/Vazir-Bold.ttf");
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: VAZIR;
}
a {
  text-decoration: none;
}
.header {
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  border-bottom-color: rgb(226, 226, 226);
  border-bottom-style: inset;
  border-bottom-width: 1px;
  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    width: 259px;
    span {
      margin-right: 15px;
    }
  }

  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 410px;
    a {
      color: #0077cc;
      width: 160px;
      height: 35px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      font-weight: 800;
    }
    a:hover {
      background-color: #84caff;
    }
  }
}

.img-underheader {
  height: 80px;
  background-image: url(../../public/images/adc6b686-55c7-4064-ad01-a98c8290.png);
  background-repeat: no-repeat;
  background-size: 100% 80px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  margin-top: 80px;
}

.Header-banner-bg {
  margin: 5px 0 0 0;
  width: 100%;
  height: 250px;
  position: relative;
  background-image: url(../../public/images/Header-banner-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 250px;
  z-index: 2;
}

.Header-banner {
  position: absolute;

  right: 37.3%;
  top: 21%;
  width: 380px;
  height: 185px;
  background-image: url(../../public/images/Header-banner.png);
  background-repeat: no-repeat;
  background-size: 380px 185px;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 900;
}

.info {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 5px;
  a:nth-child(3) {
    background-color: #07c;
    color: white;
    vertical-align: middle;
    border-radius: 5px;
    padding: 10px 90px;
    border-radius: 25px;
    margin: 0 16px 0 0;
    font-size: 18px;
  }
  a:nth-child(1) {
    display: flex;
    span {
      color: #696969;
      vertical-align: middle;
      font-size: 15px;
    }
    margin-left: 15px;
    border-radius: 5px;
    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid;
    border-color: rgb(208, 208, 208);
    img {
      vertical-align: text-top;
      height: 22px;
      width: 22px;
      margin-left: 5px;
      color: rgb(165, 162, 162);
    }
  }

  a:nth-child(1):hover {
    background-color: #84caff;
  }
  .input {
    width: 444px;
    padding: 12px 0;
    border-radius: 25px;
    border: 1px solid;
    border-color: rgb(208, 208, 208);
    vertical-align: middle;
    display: flex;
    align-items: center;
    img {
      vertical-align: middle;
      width: 22px;
      height: 22px;
      margin-right: 10px;
    }
  }
  input {
    width: 330px;
    height: 100%;
    font-size: 15px;
    font-family: "VAZIR";
    border-radius: 25px;
    border: none;
    border-color: none;
    outline: none;
    vertical-align: middle;
    margin-right: 5px;
  }
}
.whats-jobs {
  align-items: center;
  h1 {
    display: flex;
    justify-content: center;
    margin-right: -3px;
    width: 555px;
  }

  display: block;
  margin: 50px auto;
  width: 100%;
  .jobs {
    display: block;
    display: flex;
    justify-content: center;
    .khone-tekoni {
      a {
        display: inline-block;
        text-align: center;
        margin-left: 50px;
        span {
          font-size: 15px;
          margin-top: 5px;
          font-weight: 100;
          color: #8b8b8b;
        }
      }
      img {
        width: 88px;
        height: 88px;
      }
    }
  }
}

.service {
  background: #f9f9f9;
  align-items: center;
  height: 330px;
  h1 {
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 555px;
    height: 100px;
  }
  display: block;
  margin: 50px auto;
  width: 100%;
  .services {
    margin-top: 35px;
    display: block;
    display: flex;
    justify-content: center;
    .khone-tekoni {
      a {
        border-radius: 35px;
        display: inline-block;
        text-align: right;
        margin-left: 50px;
        span {
          font-size: 15px;
          margin-top: 5px;
          font-weight: 100;
          margin: 20px 0 0 0;
          display: flex;
          justify-content: right;
          color: #4f4f4f;
          margin-top:5px ;
        }
      }
      img {
        width: 250px;
        height: 150px;

        border-radius: 10px;
      }
    }
  }
}

.how-work {
  align-items: center;
  h1 {
    display: flex;
    justify-content: center;
    margin-right: 16px;
    width: 601px;
  }
  text-align: center;
  .request {
    display: inline-block;
    margin-left: 50px;
    img {
      background: #000;
      width: 300px;
      height: 300px;
    }
    span {
      font-size: 25px;
    }
    p {
      margin-top: 0;
      font-size: 16px;
      color: #a5a5a5;
    }
  }
}

.container-slider {
  width: 100%;
  height: 270px;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  .slider {
    background: #825aaa;
    height: 180px;
    width: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    outline: none;
    div {
      // position: relative;
      overflow: hidden;
      width: 100px;
      height: 100px;
      background: #ff0000;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

.download {
  display: flex;
  justify-content: center;
  .right {
    text-align: right;
    width: 600px;
    a {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 20px;
      img {
        border-radius: 10px;
        width: 175px;
        height: 55px;
      }
    }
  }
}

.login {
  width: 100%;
  height: 194px;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  img {
    position: relative;
    bottom: 11%;
  }

  div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 969px;
    height: 100%;
  }
  .content {
    text-align: right;
    span {
      font-size: 20px;

      margin-bottom: 30px;
    }
  }

  div:nth-child(1) {
    div:nth-child(3) {
      background-color: #07c;

      text-align: center;
      vertical-align: middle;
      width: 220px;
      height: 50px;
      margin-left: 30px;
      border-radius: 30px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: medium;
        img {
          vertical-align: middle;

          margin-right: 45px;
          width: 24px;
          height: 24px;
          margin-top: 10px;

          color: white;
        }
        vertical-align: middle;
        background-color: #07c;
        color: white;
        width: 220px;
        height: 50px;

        border-radius: 30px;
        margin-right: 5px;
      }
    }
  }
}

.footer {
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;

  border-top-color: #ffffff76;
  border-top-style: inset;
  border-top-width: 1px;
  margin-bottom: 60px;
  a,
  p {
    color: #939393;
  }
  .information {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div:nth-child(1) {
      width: 370px;
      img {
        display: inline-block;
      }
      p {
        font-size: 11px;
      }
    }
    div:nth-child(2) {
      margin-right: 10%;
      margin-left: 10%;

      p {
        color: black;
      }
      a {
        display: block;
        margin-bottom: 20px;
        font-size: 10px;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    div:nth-child(3) {
      margin-bottom: 45px;
      p:nth-child(1) {
        color: black;
        font-size: large;
      }
      a,
      p {
        font-size: 10px;
      }
      a:hover {
        text-decoration: underline;
      }
      div {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: block;

          margin-left: 35px;
          img {
            width: 25px;
            height: 25px;
            border-radius: 35px;
          }
        }
      }
    }
  }
}

.mojavez {
  border-top-color: #ffffff76;
  border-top-style: inset;
  border-top-width: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  .right {
    img:nth-child(4) {
      margin-left: 200px;
    }
    img {
      margin-right: 10px;
      width: 50px;
      height: 50px;
    }
  }
  .left {
    margin-right: 60px;
  }
}
