body {
  background: #00ff26;
}

// div input parent styles
.parent-name-universities {
  background-color: #ff00e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

// input styles
#name-universities {
  padding: 10px;
  border-radius: 8111px;
  height: 20px;
  width: 180px;
  border-color: #002aff;
}


