body {
  background: #00ff26;
}

// div input parent styles
.parent-name-universities {
  background-color: #ff00e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

