// import font
@font-face {
  font-family: "VAZIR";
  src: url("../../public/font/vazir-font-v16.1.0/Vazir-Medium.ttf");
}
// Some elements that have the same style
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  font-family: VAZIR;
}
a {
  text-decoration: none;
}

// These styles are for the correct page size
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// Elements that must be deleted for responsiveness
@media (min-width: 760px) {
  .header {
    .left {
      svg {
        display: none;
        cursor: pointer;
      }
    }
  }
}

// Responsive
@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  body * {
    max-width: 100%;
  }
  //   Header styles
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
      a {
        text-align: center;
        margin-right: 50px;
        width: 154px;
      }
      .container-button-sidebar:hover {
        border: 2px solid rgb(170, 147, 0);
        background-color: transparent;
        cursor: pointer;
        transition: background 900ms;
        border-radius: 25px;
        background: #81caffa9;
      }
      .container-button-sidebar:focus {
        border: 2px solid rgb(170, 147, 0);
        transition: background 1000ms;
        border-radius: 25px;
      }
    }
    .left {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      svg {
        text-align: left;
      }
      p,
      a {
        display: none;
      }
    }
  }
  // Promotional photo styles
  .mobile-only {
    .img-underheader {
      display: none;
    }
    .Header-banner-bg {
      width: 100%;
      height: 100px;
      background-image: url(../../../public/images/Header-banner-bg.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
      margin-top: 65px;
    }
    .Header-banner {
      position: absolute;
      top: 50%;
      right: -1%;
      transform: translate(-50%, -50%);
      width: 190px;
      height: 160px;
      background-image: url(../../../public/images/Header-banner.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    span:nth-child(3) {
      position: relative;
      top: 15px;
      font-size: 20px;
      text-align: center;
      font-weight: 500;
    }
    span:nth-child(4) {
      font-size: 2px;
      color: #8d8d8d;
      text-align: center;
      font-weight: 400;
      margin: 6px 0 32px;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      span:nth-child(1) {
        font-size: 11px;
        color: #757575;
        font-weight: 100;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .top-row {
        display: flex;
        align-items: center;
        gap: 1rem;
        a:nth-child(1) {
          margin-left: 0;
          margin-right: 25px;
          display: flex;
          align-items: center;
          vertical-align: middle;
          span {
            font-weight: 100;
          }

          img {
          }
        }
        a:nth-child(1):hover {
        }
        .input {
          width: 210px;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-left: 10px;
          box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(205, 205, 205);
          img {
          }
        }
        input {
          flex: 1;
          font-size: 12.5px;
        }
      }
      a:nth-child(3) {
        background-color: #07c;
        color: white;
        vertical-align: middle;
        padding: 10px 150px;
        border-radius: 5px;
        border-radius: 25px;
        margin: 0 16px 0 0;
        font-size: 18px;
        text-align: center;
      }
      a:nth-child(3):hover {
        background-color: #19326c;
      }
    }
  }
  // Styles of service delivery
  .whats-jobs {
    background: #f4f4f4;
    text-align: center;
    .jobs {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-right: 35px;
      .khone-tekoni {
        width: calc(39% - 20px);
        text-align: center;
        :nth-child(7),
        :nth-child(8) {
          width: calc(50% - 10px);
        }
        img {
          width: 63px;
          height: 63px;
          object-fit: cover;
          margin: 0 auto;
          margin-top: 15px;
          margin-bottom: 0;
        }
        span {
          display: block;
          margin-top: 10px;
          font-size: 16px;
          color: #1f1f1f;
        }
      }
    }
  }
  // Styles of the proposed services section
  .service {
    text-align: right;
    background: #f4f4f4;
    height: 300px;
    h1 {
      display: flex;
      justify-content: right;
      margin: -35px 0;
      margin-right: 9px;
      font-size: 20px;
      font-weight: 500;
    }
    .services {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      padding: 10px 0;
      scroll-behavior: smooth;
      width: 100%;
      :nth-last-child(4) {
        a {
          margin-right: 15px;
        }
      }
      :nth-last-child(3) {
        a {
          margin-right: 15px;
        }
      }
      :nth-last-child(2) {
        a {
          margin-right: 15px;
        }
      }
      :nth-last-child(2) {
        a {
          margin-right: 15px;
        }
      }
      .khone-tekoni {
        flex: 0 0 auto;
        justify-content: center;
        text-align: center;
        width: 140px;
        margin-right: -35px;
        position: relative;
        right: 50px;
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
        }
        span {
          display: block;
          font-size: 14px;
          margin-top: 0px;
          color: #333;
          margin-left: 35px;
        }
      }
    }
  }
}
